<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webb.androidmosaic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    
    <uses-feature android:name="android.hardware.camera"></uses-feature> 

    
    <application
        android:icon="@drawable/ic_action_search"
        android:label="@string/username_enter_hint"
        android:theme="@style/AppTheme" 
        android:name="com.webb.androidmosaic.AndroidMosaicApp" android:restoreNeedsApplication="true">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".TakePhotoActivity"
            android:label="@string/makeAMosaic">            
        </activity>
        <activity
            android:name=".CameraPreviewActivity"
            android:label="@string/title_activity_camera_preview" >
        </activity>
    </application>
</manifest>